addVaribles.ipynb
*.root
makeInputTrees/condor/rchudasa.cc
makeInputTrees/condor/error
makeInputTrees/condor/error/*
makeInputTrees/condor/log
makeInputTrees/condor/log/*
makeInputTrees/condor/output
makeInputTrees/condor/output/*
makeInputTrees/condor/mvaDataMaker.exe
makeInputTrees/mvaDataMaker.exe
makeInputTrees/workarea
makeInputTrees/workarea/*.root
